body {
    color: black;
    margin: 20px;
    text-align: center;
}

table {
    background: white;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

table tr td {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    text-align: center;
}
